@import '~antd/es/style/themes/default.less';
.container {
  background-color: #F1F2F7;
  border: 1px solid #DBDBDB;
}
.toolbar {
  background-color: #ffffff;
  border-top-width: 0;
  border-bottom: solid 1px #dcdcdc;
  z-index: 0;
  
  width: 100%;
  padding: 15px;
}
.btnRight {
  float: right;
}
.missingDocsBtn {
  background-color: #ffcf0e !important;
  color: #000000 !important;
  padding-left: 22px !important;
  display: inline;
  border: 0!important;
}
.btnHeight {
  height: 35px !important;
  width: 150px;
}

.btnTool {
  float: right;
  color: #ffffff !important;
  margin-left: 10px;
  display: flex !important;
  align-items: center;
}
// .btnLeft {
//   margin-left: 20px;
//   background-color: ' #FFCF0E';
//   border-width: 0;
//   color: '#000';

//   height: 35;
//   margin-top: 15;
//   align-self: 'flex-end';
//   margin-bottom: 15;
// }
