@import '~antd/es/style/themes/default.less';
.textInfo {
  font-size: 14px;
  color: #333132;
  opacity: 1;
  font: Bold 14px/21px Roboto;
  text-align: left;
}
.textType {
  text-align: left;
  font: Regular 12px/14px Roboto;
  letter-spacing: 0;
  color: #949494;
  opacity: 1;
}
.title {
  font: Bold 24px Roboto;
  letter-spacing: 0;
  color: #333132;
  opacity: 1;
  float: left;
}
.flRight {
  float: right;
  display: flex;
}
.col {
  margin-left: 20px;
  text-align: left;
}
.titleContainer {
  width: 100%;
  min-height: 70px;
}
:global{
  .ant-input{
    border-radius: 3px !important;
  }
}