@import 'spacing';

.hidden {
  display: none;
}

.ant-input {
  height: 35px;
  font-size: 14px;
  padding: 8px 14px;
  &:hover,
  &:focus,
  &:active {
    border-color: #007bd7!important;
  }
}

.ant-select .ant-select-selection {
  height: 35px;
  font-size: 14px;
  &:hover,
  &:focus,
  &:active {
    border-color: #007bd7!important;
  }
}
.ant-select-selection {
  &:hover,
  &:focus,
  &:active {
    border-color: #007bd7!important;
  }
}
.ant-btn {
  font-family: inherit;
  height: 48px;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: none;
  span {
    font-weight: 500;
    font-size: 14px;
    text-shadow: none;
  }
}

.ant-form-explain {
  padding-bottom: 15px;
}

.btn--block {
  width: 100%;
}

.ant-form-item-label {
  line-height: 1.3;
}

.ant-select-dropdown-menu-item {
  padding: 12px 12px;
}

.ant-card--shadow {
  -webkit-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
  -moz-box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
  box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.08);
  .ant-card-head-title {
    padding: 24px 0;
    font-size: 15px;
    color: #666;
    .ant-card-head {
      border-color: #eee;
    }
  }
}

.btn--facebook-bg {
  background-color: #3b5998 !important;
  border-color: #3b5998 !important;
  &:hover,
  &:focus {
    background-color: #3b5998 !important;
    border-color: #3b5998 !important;
    opacity: 0.8;
  }
}

.btn--facebook-bg[disabled] {
  color: #fff;
  &:hover,
  &:focus {
    color: #fff !important;
  }
}

.ant-alert-with-description .ant-alert-message {
  font-size: 16px;
}

.ant-skeleton-paragraph {
  padding: 0;
}

.ant-alert-description {
  color: #777;
  line-height: 18px;
}

.ant-form-item-label {
  line-height: 1.3;
  margin-bottom: 7px;
}

.ant-notification-notice-icon {
  font-size: 20px;
  line-height: 20px;
}
.ant-notification-notice-with-icon .ant-notification-notice-message {
  margin-bottom: 0;
  margin-left: 48px;
  font-size: 15px;
}
.ant-drawer.ant-drawer-open .ant-drawer-mask {
  opacity: 0.9;
  background: rgba(255, 255, 255, 0.95);
}

.bm-burger-button {
  display: none;
}

.ant-calendar-range-picker-separator {
  line-height: 3;
}

.ant-modal-title {
  font-size: 16px;
  color: #333132;
  font-weight: Bold;
}

.ant-modal-close-x {
  font-size: 18px;
}

.ant-modal-footer {
  padding: 0 24px 30px;
  border: 0;
  button + button {
    margin-right: 0;
  }
}

.ant-modal-header {
  padding: 20px 24px;
}

.ant-select-dropdown-menu-item {
  background: #fff;
}

.ant-input:focus {
  box-shadow: none;
}

.ant-dropdown-menu-item {
  padding: 10px 20px;
}

.ant-calendar-input-wrap {
  height: 50px;
  padding: 0 10px;
  .ant-calendar-input {
    height: 48px;
  }
}

.header-action-dropdown {
  top: 70px !important;
  .ant-dropdown-menu {
    border-radius: 0;
    padding: 6px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    li {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 12px;
      color: #555;
      &.ant-dropdown-menu-item {
        padding: 8px 16px;
      }
    }
  }
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 10px;
}
.ant-table-thead > tr > th {
  background-color: #FAFAFA;
}
.ant-table-tbody > tr > td {
  background-color: #FFFFFF;
}
.ant-table-tbody > tr:hover > td {
  background-color: #FAFAFA!important;
}
.ant-table-pagination.ant-pagination {
  margin: 16px;
}

// button
.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #3D3D3D;
}
.ant-menu-dark .ant-menu-item-selected,
.ant-menu-dark .ant-menu-item-selected span {
  color: #FFCF0E;
}

// paging
.ant-pagination-item-active {
  border-color: #FFCF0E;
  background-color: #FFCF0E;
  &:hover,
  &:focus,
  &:active {
    border-color: #FFCF0E;
    background-color: #FFCF0E;
    a {
      color: #333132;
    }
  }
  a {
    color: #333132;
  }
}
.ant-pagination-item {
  &:hover,
  &:focus,
  &:active {
    border-color: #FFCF0E;
    background-color: #FFCF0E;
    a {
      color: #333132;
    }
  }
}

.ant-tag {
  border-radius: 0;
  color: #333132;
}

.ant-popover-buttons {
  button {
    height: 35px !important;
    &:hover {
      border: 1px solid #d9d9d9;
      color: #333132;
    }
  }
  button + button {
    background-color: #007bd7 !important;
    color: #ffffff !important;
    border: 1px solid #007bd7 !important;
  }
}