@import '~antd/es/style/themes/default.less';
.toolbarRight {
  float: right;
  display: flex;
}

.btnRight {
  margin-left: 20px;
}

// :global {
//   .ant-row {
//     top: 20px;
//   }
// }

.toolbar {
  background-color: #ffffff;
  min-height: 70px;
  max-height: 350px;
}

.filterContainer {
  background-color: #ececec;
  height: 782px;
}
.chooseAll {
  margin-right: 15px;
}
.chooseAll > span {
  margin-right: 10px;
}
.hozLine {
  margin-top: 10px;
  min-width: 100%;
  min-height: 30px;
  margin-bottom: 10px;
  border-bottom: solid 1px #cfcfcf;
}
.btnIcon {
  margin: auto;
  margin: 0 auto;
  box-sizing: border-box;
  display: inline;
  border: solid 1px #ffffff;
}
.miniToolbar {
  margin: 10px 0;
}
.right {
  float: right;
}
.treeContainer {
  height: 681px;
  overflow: auto;
  padding-left: 10px;
}
.searchContainer {
  padding: 0px 10px;
  padding-top: 10px;
  width: 100%;
}
.workingTree {
  background-color: #ececec;
}
.avatarContainer {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #ffffff;
  justify-content: center;
}
:global {
  .ant-input {
    height: 40px !important;
  }
}
:global {
  .ant-tree > .ant-tree-treenode-switcher-open > .ant-tree-node-content-wrapper > .ant-tree-title {
    font: Bold 14px/21px Roboto !important;
  }
}
